.wrap {
  flex-wrap: wrap;
}

.container {
  flex-wrap: wrap;
  max-width: inherit;
}

.monthControlContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: inherit;
}

.controlsContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: inherit;
}

.selectContainer {
  display: flex;
  flex-basis: 260px;
  min-width: 240px;
}

.eventSelectContainer {
  display: flex;
  flex-basis: 320px;
  min-width: 240px;
}

.searchContainer {
  display: flex;
  flex-basis: 320px;
  min-width: 240px;
}

.select {
  z-index: 10 !important;
  min-width: 240px;
}

.eventSelect {
  min-width: 240px;
}

.monthContainer {
  align-items: center;
  flex-wrap: wrap;
}

.currentMonthContainer {
  flex-basis: 172px;
  max-width: inherit;
}

.navigationContainer {
  flex-basis: 110px;
  max-width: inherit;
}

.dateContainer {
  flex-basis: 100px;
  max-width: inherit;
}

.currentMonthButton {
  margin-right: 4px;
}

.prevButton {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.nextButton {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-right: 16px;
}

.separator {
  width: 1px;
  background: transparent;
}
@media (min-width: 1200px) and (max-width: 1367px) {
  .dateContainer {
    flex-basis: calc(100% - 285px);
    max-width: calc(100% - 285px);
  }
}

@media (max-width: 992px) {
  .selectContainer,
  .eventSelectContainer,
  .searchContainer {
    flex-basis: 33%;
    min-width: 33%;
  }
  .monthControlContainer {
    flex-basis: 100%;
    min-width: 100%;
  }
  .selectContainer {
    padding-left: 0;
  }
  .select,
  .eventSelect,
  .searchContainer {
    min-width: 220px;
  }
}

@media (max-width: 768px) {
  .selectContainer,
  .eventSelectContainer {
    flex-basis: 50%;
    min-width: 50%;
  }
  .searchContainer {
    flex-basis: 100%;
    min-width: 100%;
  }
  .selectContainer {
    padding-left: 8px;
  }
  .controlsContainer {
    justify-content: normal;
  }
  
}

@media (max-width: 600px) {
  .selectContainer,
  .eventSelectContainer,
  .searchContainer {
    flex-basis: 100%;
    min-width: 100%;
  }
}

@media (max-width: 500px) and (min-width: 450px) {
  .dateContainer {
    flex-basis: calc(100% - 285px);
    max-width: calc(100% - 285px);
  }
}
@media (max-width: 450px) {
  .dateContainer {
    padding: 8px 8px 0px;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (max-width: 390px) {
  .currentMonthContainer {
    padding: 8px;
    flex-basis: 100%;
    max-width: 100%;
  }
  .currentMonthContainer button {
    width: 100%;
    margin-right: 0;
  }
  .navigationContainer {
    padding: 8px;
    flex-basis: 113px;
    max-width: 113px;
  }
  .nextButton {
    margin-right: 0;
  }
  .dateContainer {
    flex-basis: calc(100% - 113px);
    max-width: calc(100% - 113px);
  }
}
