.dayContainer {
  min-height: 40px;
  position: relative;
}

.tooltip {
  z-index: 999;
  border-radius: 8px;
  text-align: left;
}

.flexContainer {
  max-width: var(--cell-width, var(--max-width));
}
